nav.main-menu.grid.js-main-menu
	ul.main-menu__wrap.main-menu__wrap_shadow
		li.main-menu__tab.main-menu__tab_home.main-menu__tab_active
			a(href=jv0).main-menu__link
				+icon('icon_home').main-menu__home-icon
		li.main-menu__tab.main-menu__tab_company
			a(href=jv0).main-menu__link
				|О компании
		li.main-menu__tab.main-menu__tab_tires
			a(href=jv0).main-menu__link
				|Шины
				+icon('icon_menu_open').main-menu__arrow
		li.main-menu__tab.main-menu__tab_discs
			a(href=jv0).main-menu__link
				|Диски
				+icon('icon_menu_open').main-menu__arrow
		li.main-menu__tab.main-menu__tab_service
			a(href=jv0).main-menu__link
				|Сервис
		li.main-menu__tab.main-menu__tab_delivery
			a(href=jv0).main-menu__link
				|Доставка и оплата
		li.main-menu__tab.main-menu__tab_credit
			a(href=jv0).main-menu__link
				|Покупка в кредит
		li.main-menu__tab.main-menu__tab_info
			a(href=jv0).main-menu__link
				|Полезная информация
		li.main-menu__tab.main-menu__tab_stretch
			a(href=jv0).main-menu__link
				|Контакты
