.note-info
	+icon('1_icon_book').note-info__icon
	h5.note-info__title.h5.h_upcase Справочная информация
	ul.note-info__list
		li.note-info__list-item
			a(href=jv0) Маркировка колес
		li.note-info__list-item
			a(href=jv0) Что такое вылет?
		li.note-info__list-item
			a(href=jv0) Технологии производства колес
		li.note-info__list-item
			a(href=jv0) Маркировка автомобильных шин
		li.note-info__list-item
			a(href=jv0) Конструкция шины
		li.note-info__list-item
			a(href=jv0) Все статьи
.note-article
	h5.note-article__title.h5.h_upcase Купить шины Bridgestone
	p.note-article__text
		|Миссия группы компаний Бриджстоун основывается на философии её основателя: «Служение обществу товара&shy;ми наивысшего качества». Для выполнения этой миссии группа компаний Бриджсто&shy;ун использовала понятие «Принципы», чтобы продемонстрировать неизменную приверженность сотрудников идее предоставления для клиентов товаров и услуг мирового класса и «служить обществам», в которых Бриджстоун ведет свой бизнес. Слова основателя, общая корпоративная культура и наше многообразие, унаследованные компанией, воплотились в новой «Философии Бриджстоун» и единой системе ценностей, которые будут объединять сотрудников Бриджстоун по всему миру.
