head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

	//- iOS
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	link(href='images/icons/apple-touch-icon-152x152.png' rel='apple-touch-icon')
	link(sizes='57x57' href='images/icons/apple-touch-icon-57x57.png' rel='apple-touch-icon')
	link(sizes='72x72' href='images/icons/apple-touch-icon-72x72.png' rel='apple-touch-icon')
	link(sizes='76x76' href='images/icons/apple-touch-icon-76x76.png' rel='apple-touch-icon')
	link(sizes='114x114' href='images/icons/apple-touch-icon-114x114.png' rel='apple-touch-icon')
	link(sizes='120x120' href='images/icons/apple-touch-icon-120x120.png' rel='apple-touch-icon')
	link(sizes='144x144' href='images/icons/apple-touch-icon-144x144.png' rel='apple-touch-icon')
	link(sizes='152x152' href='images/icons/apple-touch-icon-152x152.png' rel='apple-touch-icon')

	//- Windows 8
	meta(name='application-name' content=page.title)
	meta(name='msapplication-tooltip' content=page.description)
	meta(name='msapplication-TileColor' content='#ffffff')
	meta(name='msapplication-TileImage' content='images/icons/tile.png')
	meta(name='msapplication-square70x70logo' content='images/icons/tile.png')
	meta(name='msapplication-square150x150logo' content='images/icons/tile.png')
	meta(name='msapplication-square310x310logo' content='images/icons/tile.png')
	meta(name='msapplication-wide310x150logo' content='images/icons/tile-wide.png')
	meta(name='msapplication-starturl' content='https://csssr.github.io/csssr-project-template/')
	meta(name='msapplication-tap-highlight' content='no')

	//- Windows
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	//- Windows Phone
	<!--[if IE]>
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	<![endif]-->

	//- Blackberry and etc
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	//- No parse telephone and address
	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	block head
	//- SEO
	title= page.title
	meta(name='description' content=page.description)
	meta(name='keywords' content=page.keywords)
	meta(name='copyright' content=page.copyright)
	meta(name='reply-to' content=page.replyTo)

	link(href='favicon.ico' rel='shortcut icon')
	link(href='https://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic' rel='stylesheet')
	link(href='styles/main.css' rel='stylesheet')
