mixin tire-card(data, items)
	- var typemod=data.type
	if data.goods=='disk'
		- var typemod=typemod+'_'+data.goods

	.card-vertical.grid-module-6(class='card-vertical_'+typemod)
		.card-vertical__imgbox(class='card-vertical__imgbox_' + data.goods)
			img.card-vertical-img(src=data.img)
			if data.play
				.card-vertical-play
					+icon('icon_play').card-vertical-play-icon
			if data.option_left
			.card-vertical__option
				+icon('tireicon_'+data.option_left).card-vertical__option__item(class='card-vertical__option__item_'+data.option_left)
				if data.option_right
					+icon('tireicon_'+data.option_right).card-vertical__option__item(class='card-vertical__option__item_'+data.option_right)
			if data.type=='choose'
				.card-vertical-compare
					+icon('menu_01_compare').card-vertical-compare-icon
		.card-vertical__content
			.h4.card-vertical-title
					!=data.title
			if data.goods=='disk'
				.card-vertical__palette
					if items
						each item in items
							.card-vertical__palette-color(class='card-vertical__palette-color_'+item)
			if data.caption
				.card-vertical-caption(class='card-vertical-caption_'+data.goods)
					!=data.caption
			if data.oldprice
				.h2.card-vertical-price
						.card-vertical-price__num=data.price
							+icon('1_RUB').card-vertical-price__rub
				.card-vertical-oldprice
					.card-vertical-oldprice__num=data.oldprice
						+icon('1_RUB').card-vertical-oldprice__rub
			else
				.h2.card-vertical-price
					.card-vertical-price__num=data.price
						+icon('1_RUB').card-vertical-price__rub

			if data.avaliable
				.card-vertical-avaliable
					.card-vertical-avaliable-caption в наличии

		if data.label
			if data.label=='discount'
				.card-vertical__label.card-vertical__label_discount
					.card-vertical__label_discount-caption Скидка!
			if data.label=='new'
				.card-vertical__label.card-vertical__label_new
					.card-vertical__label_new-caption Новинка

		if data.type=='choose'
			.card-vertical__extra.grid-module-6
				a.card-vertical-btn.btn.btn_primary(href ='javascript:void(0)') Купить
				a.card-vertical-link(href='#') Купить в кредит
				.card-vertical__rating
					.card-vertical__rating-stars
						.card-vertical__rating-stars_checked(class='card-vertical__rating-stars_checked_'+data.rating)
					a.card-vertical-voted(href='#')='('+data.voted+')'
