mixin footer-nav__item(data, items)
	.footer-nav__item.grid-module-2&attributes(attributes)
		if data.title
			.footer-nav-title(class='h5')=data.title
			if items
				each item in items
					a.footer-nav__link(href='#')=item
		else
			if items
				each item in items
					a.footer-nav__link(href='#')=item

mixin footer-contact__info(data)
	- classes = []
	- classes.push('footer-icon')
	- classes.push('footer-icon_'+data.mod)

	.footer-contact__info&attributes(attributes)
		+icon(data.icon)(class=classes)
		!=data.text

mixin footer-bottom-btn(data)
	- classes = []

	if data.type=='pay'
		.footer-bottom-btn.footer-bottom-btn_pay(href='#' class=classes)&attributes(attributes)
			.footer-bottom-btn-image(class='footer-bottom-btn-image_'+data.mod)

	if data.type=='social'
		- classes.push('footer-bottom-btn-svg')
		- classes.push('footer-bottom-btn-svg_'+data.mod)
		.footer-bottom-btn.footer-bottom-btn_social
			a(class='footer-bottom-btn-link_'+data.mod href='#')
				+icon(data.icon)(class=classes)
