mixin tire-card(data, items)
	- var typemod=data.type
	if data.goods=='disk'
		- var typemod=typemod+'_'+data.goods

	.tire-card.grid-module-6(class='tire-card_'+typemod)
		.tire-card__imgbox
			img.tire-card-img(src=data.img)
		.h4.tire-card-title
				!=data.title
		if data.goods=='disk'
			.tire-card__palette
				if items
					each item in items
						.tire-card__palette-color(class='tire-card__palette-color_'+item)
		if data.caption
			.tire-card-caption(class='tire-card-caption_'+data.goods)
				!=data.caption
		if data.oldprice
			.h2.tire-card-price.tire-card-price_left
					.tire-card-price__num=data.price
						+icon('1_RUB').tire-card-price__rub
			.tire-card-oldprice
				.tire-card-oldprice__num=data.oldprice
					+icon('1_RUB').tire-card-oldprice__rub
		else
			.h2.tire-card-price
				.tire-card-price__num=data.price
					+icon('1_RUB').tire-card-price__rub
		if data.avaliable
			.tire-card-avaliable в наличии
		if data.play
			.tire-card-play
				+icon('icon_play').tire-card-play-icon
		if data.label
			if data.label=='discount'
				.tire-card__label.tire-card__label_discount
					.tire-card__label_discount-caption Скидка!
			if data.label=='new'
				.tire-card__label.tire-card__label_new
					.tire-card__label_new-caption Новинка
		if data.option_left
			.tire-card__option
				+icon('tireicon_'+data.option_left).tire-card__option__item(class='tire-card__option__item_'+data.option_left)
				if data.option_right
					+icon('tireicon_'+data.option_right).tire-card__option__item(class='tire-card__option__item_'+data.option_right)
		if data.type=='choose'
			.tire-card-compare
				+icon('menu_01_compare').tire-card-compare-icon
			.tire-card__extra
				a.tire-card-btn.btn.btn_primary(href ='javascript:void(0)') Купить
				a.tire-card-link(href='#') Купить в кредит
				.tire-card__rating
					.tire-card__rating-stars
						.tire-card__rating-stars_checked(class='tire-card__rating-stars_checked_'+data.rating)
					a.tire-card-voted(href='#')='('+data.voted+')'
