mixin tire-card-horizont(data)
	.tire-card-horizont(class='tire-card-horizont_'+data.goods)
		.tire-card-horizont__imgbox.grid-module-6(class='tire-card-horizont__imgbox_'+data.goods)
			img.tire-card-horizont-img(src=data.img class='tire-card-horizont-img_'+data.goods)
		.col.tire-card-horizont__content.grid-module-2
			.tire-card-horizont-wrapper
				.h4.tire-card-horizont-title!=data.title
				.tire-card-horizont-titlecaption!=data.titlecaption

				.tire-card-horizont__content__item
					.tire-card-horizont__group
						.tire-card-horizont-caption!=data.caption
						.tire-card-horizont__rating
							.tire-card-horizont__rating-stars
								.tire-card-horizont__rating-stars_checked(class='tire-card__rating-stars_checked_'+data.rating)
							a.tire-card-horizont-voted(href='#')='('+data.voted+')'
						if data.avaliable
							.tire-card-horizont-avaliable в наличии
					.tire-card-horizont__pricebox.grid-module-6
						.tire-card-horizont-price
							.tire-card-horizont-price__num!=data.price
								+icon('1_RUB').tire-card-horizont-price__rub
							if data.oldprice
								.tire-card-horizont-oldprice
									.tire-card-horizont-oldprice__num=data.oldprice
										+icon('1_RUB').tire-card-horizont-oldprice__rub
					.tire-card-horizont__countbox
						.tire-card-horizont-count=data.count

				.tire-card-horizont__content__item.tire-card-horizont__content__item_extra
					.tire-card-horizont__group
						.tire-card-horizont-caption!=data.caption
						.tire-card-horizont__rating
							.tire-card-horizont__rating-stars
								.tire-card-horizont__rating-stars_checked(class='tire-card__rating-stars_checked_'+data.rating)
							a.tire-card-horizont-voted(href='#')='('+data.voted+')'
						if data.avaliable
							.tire-card-horizont-avaliable в наличии
					.tire-card-horizont__pricebox.grid-module-6
						.tire-card-horizont-price
							.tire-card-horizont-price__num!=data.price
								+icon('1_RUB').tire-card-horizont-price__rub
							if data.oldprice
								.tire-card-horizont-oldprice
									.tire-card-horizont-oldprice__num=data.oldprice
										+icon('1_RUB').tire-card-horizont-oldprice__rub
					.tire-card-horizont__countbox
						.tire-card-horizont-count=data.count

		.col.tire-card-horizont__buy.grid-module-6
			a.tire-card-horizont-btn.btn.btn_primary(href ='javascript:void(0)')='КУПИТЬ ('+data.count+' шт.)'
			a.tire-card-horizont-link(href='#') Купить в кредит

		img.tire-card-horizont-logo(src=data.logo class='tire-card-horizont-logo_'+data.goods)
		.tire-card-horizont__play
			+icon('icon_play').tire-card-horizont__play-icon
			a.tire-card-horizont__play-link.tire-card-horizont-contentlink(href='#') Смотреть видео

		if data.label
			if data.label=='discount'
				.tire-card-horizont__label.tire-card-horizont__label_discount
					.tire-card-horizont__label_discount-caption Скидка
			if data.label=='new'
				.tire-card-horizont__label.tire-card-horizont__label_new
					.tire-card-horizont__label_new-caption Новинка
		.tire-card-horizont__compare
			+icon('menu_01_compare').tire-card-horizont__compare-icon
			a.tire-card-horizont__compare-link.tire-card-horizont-contentlink(href='#') К сравнению
		if data.option_left
			.tire-card-horizont__option
				+icon('tireicon_'+data.option_left).tire-card-horizont__option__item(class='tire-card-horizont__option__item_'+data.option_left)
				if data.option_right
					+icon('tireicon_'+data.option_right).tire-card-horizont__option__item(class='tire-card-horizont__option__item_'+data.option_right)
